@font-face {
    font-family: mc1;
    src: url(../fonts/mc1.ttf);
}

@font-face {
    font-family: mc2;
    src: url(../fonts/mc2.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: mc2;
    background-color: #171717; 
    color: white;
    background-image: url(../images/space-export.png);
    background-size: 100%;

}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1  1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header1 . navbar"
    ". header2 ."
    ". row1 ."
    ". row2 ."
    ". row3 ."
    ". . madeby";
}


.header1 {
    grid-area: header1;
    font-size: 50px;
    justify-self: left;
}

.header2 {
    grid-area: header2;
    justify-self: center;
}

.span2 {
    font-size: 25px;
    background-color: rgba(23,23,23,0.6);
}

.span1 {
    margin-left: 50px;
    margin-top: 100px;
    background-color: rgba(23,23,23,0.6);
    align-items: center;
}

.navbar {
    grid-area: navbar;
    justify-self: right;
    margin-right: 50px;
}

.row1 div { height: 100%; }

.row1 {
    position: relative;
    height: 200px;
    grid-area: row1;
    margin-top: 40px;
}

.row2 {
    position: relative;
    height: 200px;
    grid-area: row2;
    margin-top: 40px;
}

.row3 {
    position: relative;
    height: 200px;
    grid-area: row3;
    margin-top: 40px;
}

.column-1 {
    width: 30%;
}

.left { 
    background-color: rgb(216, 216, 216); 
    float: left; 
    border-radius: 12px;
    transition: 0.9s;
}

.left:hover , .right:hover , .mid:hover { 
    background-color: rgb(216, 216, 216); 
    float: left; 
    transform: scale(1.05);
    transition: 0.9s;
}
    
.mid { 
    float: left; 
    margin: 0 5%; 
    background-color: rgb(216, 216, 216); 
    border-radius: 12px;
    transition: 0.9s;
}
    
.right { 
    background-color: rgb(216, 216, 216); 
    float: right; 
    border-radius: 12px;
    transition: 0.9s;
}

.logo1 {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 50%;
}

.span-row-1 {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: solid #171717 2px;
}

.btn-discord {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 20px;
    padding-top: 15px;
    padding: 10%;
    color: black;
}

























.madeby {
    grid-area: madeby;
    justify-self: right;
    margin-top: 50px;
    margin-right: 20px;
}

.backmadeby {
    font-size: 10px;
    background-color: rgba(23,23,23,0.6);
    color: rgba(179, 179, 179, 0.466);
}

.promax {
    font-size: 12px;
    background-color: rgba(23,23,23,0.6);
    color: white;
}























.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 500px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}